*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;     */
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body{
    background: #fefdf9;
    padding: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar{
    margin-right: -10px;
}

.active{
    display: block;
}

.nav-list{
    display: flex;
}

.logo{
    font-size: 32px;
    font-weight: 800;
    color: #01001a;
}

svg{
    display: none;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 10px;
}

.nav-link{
    font-size: 24px;
    color: #8d8b96;
}

.nav-link:hover{
    color: #f25d52;
}

main{
    display: flex;
}

section{
}

.left{
    padding: 20px;
}


.img-web-container{

}

.img-web{
    height: 400px;
}

.text-description{
    display: flex;
}

.text-slogan{
    font-weight: 800;
    font-size: 48px;
    color: #01011a;
}

.text-service-container{
    padding: 20px;
}

.text-service{
    font-size: 18px;
    font-weight: 600;
    color: #b0aeb1;
}

.read-more{
    background: #000;
    padding: 10px;
    width: fit-content;
    margin-top: 80px;
    height: 40px;
    background: #f25d52;
    text-transform: uppercase;
    color: #f7e4da;
    font-weight: 400;
    cursor: pointer;
}

.read-more:hover{
    background: #00001a;
}
.right{
    padding: 20px;
}

.right-container{
    padding: 20px;
    background: #00001a;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.new-descri{
    margin-top: 20px;
    margin-bottom: 80px;
}

.new-container{
    font-size: 28px;
    color: #e6a652;
}

.new-title{
    font-size: 20px;
    font-weight: 500;
    color: #d9d9d7;
    cursor: pointer;
}

.new-title.new-title:hover{
    color: #e6a652;
}

.new-intro{
    color: #616274;
}

.new-intro-3{
    justify-content: end;
}
hr{
    background: #616274;
}
footer{
    display: flex;
    padding: 20px;
}

.card{
    display: flex;
}

.card-number{
    color: #b0aeb1;
    font-weight: 600;
    font-size: 28px;
}

.card-image{
    height: 100px;
}

.card-descri{
    padding: 10px;
    padding-top: 0;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.card-title:hover{
    color: #f25d52;
}

.card-content{
    color: #b0aeb1;
}

@media only screen and (max-width: 375px){
    .nav-list{
        display: none;
    }
    
    #menu-open{
        display: block;
    }
    main{
        flex-direction: column;
    }

    .left{
        display: flex;
        flex-direction: column;
    }

    .text-description{
        flex-direction: column;
        margin: 0;
    }

    .text-slogan{
        padding: 0;
    }

    .text-service-container{
        padding: 0 ;
    }
    .right{
        display: flex;
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        padding: 10px;
    }
  
    .card img{
        width:40%;
        height: 40vw;
        margin: 10px;
    }
    .card-descri{
        width: 50%;
    }
}

@media only screen and (max-width: 860px){
    body{
        padding: 5px;
    }
}

